.brand-logo {
    font-weight: 600;
}

.bus {
    font-size: 1.2em;
    color: #1565c0;
}

nav .brand-logo i, nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"], nav .brand-logo i.material-icons {
    float: left;
    margin-right: 5px;
}