<h1>Add a Gig</h1>
<div class="register">
  <form (ngSubmit)="onSubmit()" [formGroup]="_gigForm">
    <div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Venue" formControlName="venue" type="text" required />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Date" formControlName="date" type="date" required />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="city" type="text" required />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="State" formControlName="state" type="text" required />
        </mat-form-field>
      </div>
  
    </div>
    <button mat-raised-button class="nav-btn submit-button" color="primary" type="submit">Add to map</button>
    <button mat-raised-button class="nav-btn submit-button" color="primary" type="submit">Save</button>
  </form>
</div>