<div class="container main">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="loginForm">
    <div class="row">
        <div class="input-field s12">
          <input id="email" type="text" formControlName="email" class="validate" required>
          <label for="email">Email</label>
        </div>
        <div class="input-field s12">
          <input id="Password" type="password" formControlName="password" class="validate" required>
          <label for="password">Password</label>
        </div>
        <div class="input-field s12">
          <button class="btn waves-effect waves-light right save blue darken-3" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>

    </div>
  </form>
</div>
