@{
    ViewBag.Title = "Home Page";
}

<div class="index-body">
    <div class="container landing">
        <header class="splash-head">
            <h1 id="splash">Welcome to OneOff!</h1>
            <p class="tag">Buy the ticket, take the ride.</p>

            <div class="row">
                <button class="btn btn-default register" type="submit" name="action" routerLink="register">
                    Create Account
                </button>

            </div>
            <div class="row">
                <button class="btn btn-default login" type="submit" name="action">
                    Login
                </button>
            </div>
        </header>
    </div>
</div>
