@{
    ViewBag.Title = "Home Page";
}

<div class="index-body">
    <div class="container landing">
        <header class="splash-head">
            <h1 id="splash">Welcome to OneOff!</h1>
            <p class="tag">Buy the ticket, take the ride.</p>

            <div class="row">
                @Html.ActionLink("Create Account", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default register" })
            </div>
            <div class="row">
                @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default login" })
                
            </div>
        </header>
    </div>
</div>
