<div class="container">
    <header>
      <h1>Welcome to OneOff!</h1>
      <p>Buy the ticket, take the ride.</p>
    
      <div class="row">
          <button class="btn waves-effect waves-light right blue darken-3" type="submit" name="action" routerLink="register">Create Account
          </button>
    
      </div>

      <div class="row">
        <button class="btn waves-effect waves-light right blue darken-3" type="submit" name="action">Login
        </button>
      </div>

    </header>
</div>
