<div class="artist-app">
  <section class="user-panel">User panel
    <div class="user-input">
      <app-user-input></app-user-input>
    </div>
    <!-- <div class="user-result"></div> -->
  </section>
  <section class="map-section">
    Map section
    <div class="map">
      <div id="map"></div>
    </div>
    <div class="change-radius">
    </div>
  </section>
  <!-- <app-map>
    <div class="map">
      <div id="map"></div>
    </div>
    <div class="change-radius"></div>
  </app-map> -->
</div>
